body {
    background-color: rgb(69, 237, 97);
}

.background {
    background-image: url("/image/Screenshot\ 2022-08-23\ 113157.png");
    height: 500px;
}

.h-color {
    color: rgb(10, 252, 171);
}

.p-color {
    color: rgb(208, 231, 202);
}