body {
    background-color: rgb(117, 212, 133);
}

.background {
    background-image: url("/image/bangladesh.png");
    height: 500px;
}

.h-color {
    color: rgb(10, 252, 171);
}

.p-color {
    color: rgb(208, 231, 202);
}