body {
    background-color: rgb(117, 212, 133);
}

.background {
    background-image: url("/image/bangladesh.png");
    height: 500px;
}

.h-color {
    color: rgb(10, 252, 171);
}

.p-color {
    color: rgb(208, 231, 202);
}

@media only screen and (max-width: 372px) {
    .background {
        height: 1000px;
    }
}

@media only screen and (min-width: 373px) and (max-width: 607px) {
    .background {
        height: 800px;
    }
}

@media only screen and (min-width: 608px) and (max-width: 775px) {
    .background {
        height: 600px;
    }
}